<!DOCTYPE html>
<html>

<head>
  <title>index</title>
</head>

<body>

  <h1 style="text-align:center;">---</h1>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    let socket = io();
    socket.on("index", function (data) {
        console.log('socket_data', data);
    });
    // socket.on("disconnect", (reason) => {
    //   //   console.log('socket.disconnect');
    //   if (reason === "io server disconnect") {
    //     // the disconnection was initiated by the server, you need to reconnect manually
    //     socket.connect();
    //   }
    //   // else the socket will automatically try to reconnect
    // });
    // setTimeout(() => {
    //   socket.disconnect(true), 5000
    // });
  </script>
</body>

</html>