<!DOCTYPE html>
<html>

<head>
    <title>index</title>
</head>
<body>

<h1 style="text-align:center;">index</h1>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        socket.on("index", function (data) {

        });
    </script>
</body>

</html>